*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
dl {
  margin-top: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

// body {
//   background-image: url('../img/page.png');
//   background-repeat: no-repeat;
//   background-position: top center;
//   min-height: 4272px;
// }